.gradle/
build/
bin/
run/
out/
gradle-local/
gradle-*.zip
.mvn/
*.class
*.log
*.tmp
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*
!gradle/wrapper/gradle-wrapper.jar
